{% macro input(id, labelName, type, inputName, value, placeholder) %}
    <label class="sr-only"  for="{{ id }}">{{ labelName }}</label>
    <input class="form-control" id="{{ id }}" type="{{ type|default('text') }}" name="{{ inputName }}" value="{{ value|e }}" placeholder="{{ placeholder }}" />
{% endmacro %}